# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Django specific
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
static/

# IDE specific
.idea/
*.sublime-project
*.sublime-workspace
.vscode/
*.iml

# Environment variables
.env
*.env

# Other files
*.DS_Store
Thumbs.db
