body {
    background-color: #eae7dc;
    margin: 0;
}

.title {
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: #000000;
    margin-top: 20px;
}

.available {
    width: 580px;
    text-align: center;
    font-size: 16px;
    color: #8e8d8a;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 20px;
}

.card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0px auto;
    justify-content: center;
}

section.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center; /* По центру по горизонтали */

}

section.card:hover {
    transform: scale(1.05);
}

.card img {
    max-width: 100%;
    border-radius: 8px;
}

.card h2 {
    margin-top: 16px;
    font-size: 1.5rem;
    text-align: center;
}

.card p {
    font-size: 1rem;
    color: #555;
}

.card button {
    padding: 15px 40px;
    border-radius: 10px;
    transition: .2s linear;
    background: #000;
    margin-top: 10px;
    font-size: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.card button:hover {
    -webkit-transform: rotateZ(5deg);
    -ms-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
}

@media screen and (max-width: 800px)
{
    .card img {
        max-width: 300px;
    }


    section.card {
        flex-direction: column;
        display: flex;
        margin: 40px auto;
        align-items: center;
        width: 300px;
    }
}

@media screen and (max-width: 930px)
{
    .card img {
        max-width: 300px;
    }


    section.card {
        flex-direction: column;
        display: flex;
        margin: 40px auto;
        align-items: center;
        width: 300px;
    }

    .title {
        margin-left: 20%;
    }
}