@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


html {
    scroll-behavior: smooth;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.obertka {
    background-color: #fff;
    width: 100%
}

.container {
    width: 100%;
    margin: 0;
}

header{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 15px;
    width: 100%;
    display: block;
    top: 0;
    height: 55px;
    z-index: 100;
    color: black;
}

header .logo {
    font-size: 22px;
}

header nav{
float: right;
width: 65%;
}

header nav ul:not(.contact) {
margin-top: 10px;
margin-right: 460px;
list-style: none;
display: flex;
justify-content: space-between;
z-index: 2;
position: relative;
font-size: 20px;
}

header .contact a{
    color: rgba(98, 98, 98, 0.977);
    list-style: none;
}

header nav ul li {
display: inline-block;
}

header nav ul li a {
    color: black;
}

header img{
    width: 3%;
}

header nav ul li:not(.btn) a:hover {
    border-bottom: 5px solid #000;;
}

.footer {
    background-color: #000; /* Черный фон */
    color: #fff; /* Белый текст */
    padding: 40px 0;
    text-align: center;
    font-family: Arial, sans-serif;
    height: 150px;
}

.footer-content {
    margin-top: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer p {
    margin: 0;
    font-size: 14px;
}

.social-logos {
    display: flex;
    justify-content: center;
    gap: 20px; /* Отступы между логотипами */
}

.social-logos img {
    width: 40px; /* Размер логотипов */
    height: 40px;
    filter: grayscale(100%); /* Чёрно-белые логотипы */
    transition: filter 0.3s ease;
}

.social-logos img:hover {
    filter: none; /* Цветной логотип при наведении */
}





