{% extends 'base.html'%}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'cart/css/cart' %}">
{% endblock %}

{% block content %}
<h2>Ваша корзина</h2>
{% if cart.items.all %}
<ul>
    {% for item in cart.items.all %}
    <li>
        {{ item.book.title }} ({{ item.quantity }})
        <a href="{% url 'cart:remove_from_cart' item.book.id %}">Удалить</a>
    </li>
    {% endfor %}
</ul>
<p>Общая стоимость: {{ cart.get_total_price }}</p>
{% else %}
<p>Ваша корзина пуста.</p>
{% endif %}
{% endblock %}

