{% load static %}
<footer class="footer">
    <div class="footer-content">
        <p>© 2024 Domino Books Company. All rights reserved.</p>
        <div class="social-logos">
            <a href="#" target="_blank"><img src="{% static 'main/img/facebook.png' %}" alt="Facebook"></a>
            <a href="#" target="_blank"><img src="{% static 'main/img/telegram.png' %}" alt="Telegram"></a>
            <a href="#" target="_blank"><img src="{% static 'main/img/github.png' %}" alt="Github"></a>
            <a href="#" target="_blank"><img src="{% static 'main/img/behance.png' %}" alt="Behance"></a>
        </div>
    </div>
</footer>
