{% load static %}
<header class="container">
    <a href=""><img src="{% static 'main/img/logo2.png' %}" class="logo-img"></a>
    <nav>
        <ul>
            <li><a href="{% url 'main:catalog' %}">Асортимент</a></li>
            <li><a href="{% url 'main:about' %}">О нас</a></li>
            <li><a href="{% url 'main:gifts' %}">Подарки</a></li>
            <div class="contact">
                <a href="#">VK |</a>
                <a href="#"> IG |</a>
                <a href="#">YT</a>
            </div>
        </ul>

    </nav>
</header>
<br>
<hr>
