{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'main/css/styles_for_catalog.css' %}">
{% endblock %}

{% block content %}

<div class="title"> Каталог </div>

<section class="card-container">

    {% for book in books %}
    <section class="card">
        <img src="{{ book.cover_image }}" alt="Обложка книги">
        <h2>{{ book.title }}</h2>
        <p>{{ book.author }}</p>
        <p>{{ book.price }} ₽</p>
        <form action="{% url 'cart:add_to_cart' book.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Добавить в корзину</button>
        </form>
    </section>
    {% endfor %}

</section>

{% endblock %}
