{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'main/css/styles_for_catalog.css' %}">
{% endblock %}

{% block content %}

<section class="card-container">

    {% for book in books %}
    <section class="card">
        {% if book.image %}
            <img src="{{ book.image.url }}" alt="Обложка книги">
        {% else %}
            <img src="{% static 'cart/img/default_book.png' %}" alt="Нет изображения">
        {% endif %}
        <h2>{{ book.title }}</h2>
        <p>{{ book.author }}</p>
        <p>{{ book.price }} ₽</p>
        <form action="{% url 'cart:add_to_cart' book.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Добавить в корзину</button>
        </form>
    </section>
    {% endfor %}

</section>

{% endblock %}
