{% extends 'base.html'%}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'main/css/styles_for_catalog.css' %}">
{% endblock %}


{% block content %}

<div class="title"> Каталог </div>

<section class="card-container">

    <section class="card">
        <img src="https://ndc.book24.ru/resize/440x568/pim/products/images/0e/d5/018fa17a-0b42-75b8-a171-76f464090ed5.jpg" alt="Обложка книги">
        <h2>Под стеклянным колпаком</h2>
        <p>Сильвия Плат</p>
        <button>317 ₽</button>
    </section>

    <section class="card">
        <img src="https://ndc.book24.ru/resize/440x568/pim/products/images/49/7b/018fa2ad-f51d-71e4-bac0-f9e98b38497b.jpg" alt="Обложка книги">
        <h2>Ваш покорный слуга кот</h2>
        <p>Нацумэ Сосэки</p>
        <button>326 ₽</button>
    </section>

    <section class="card">
        <img src="https://ndc.book24.ru/resize/440x568/pim/products/images/db/33/018fa30d-2402-7a92-a2ee-63166030db33.jpg" alt="Обложка книги">
        <h2>Тайна леди Одли</h2>
        <p>Мэри Элизабет Брэддон</p>
        <button>289 ₽</button>
    </section>

    <section class="card">
        <img src="https://ndc.book24.ru/resize/440x568/pim/products/images/83/e4/018fa1dc-ca2b-7068-8f7b-ce7d9a4f83e4.jpg" alt="Обложка книги">
        <h2>Скорбь Сатаны</h2>
        <p>Мария Корелли</p>
        <button>289 ₽</button>
    </section>

    <section class="card">
        <img src="https://ndc.book24.ru/resize/440x568/pim/products/images/1c/7a/018fa2e7-002f-73ae-816d-3da7cd051c7a.jpg" alt="Обложка книги">
        <h2>Пропаганда</h2>
        <p>Эдвард Бернейс</p>
        <button>289 ₽</button>
    </section>

    <section class="card">
        <img src="https://via.placeholder.com/150" alt="Обложка книги">
        <h2>Название книги 1</h2>
        <p>Автор: Имя автора</p>
        <button>1999 руб.</button>
    </section>

    <section class="card">
        <img src="https://via.placeholder.com/150" alt="Обложка книги">
        <h2>Название книги 1</h2>
        <p>Автор: Имя автора</p>
        <button>1999 руб.</button>
    </section>

    <section class="card">
        <img src="https://via.placeholder.com/150" alt="Обложка книги">
        <h2>Название книги 1</h2>
        <p>Автор: Имя автора</p>
        <button>1999 руб.</button>
    </section>

    <section class="card">
        <img src="https://via.placeholder.com/150" alt="Обложка книги">
        <h2>Название книги 1</h2>
        <p>Автор: Имя автора</p>
        <button>1999 руб.</button>
    </section>

    <section class="card">
        <img src="https://via.placeholder.com/150" alt="Обложка книги">
        <h2>Название книги 1</h2>
        <p>Автор: Имя автора</p>
        <button>1999 руб.</button>
    </section>

    <section class="card">
        <img src="https://via.placeholder.com/150" alt="Обложка книги">
        <h2>Название книги 1</h2>
        <p>Автор: Имя автора</p>
        <button>1999 руб.</button>
    </section>

    <section class="card">
        <img src="https://via.placeholder.com/150" alt="Обложка книги">
        <h2>Название книги 1</h2>
        <p>Автор: Имя автора</p>
        <button>1999 руб.</button>
    </section>

    <section class="card">
        <img src="https://via.placeholder.com/150" alt="Обложка книги">
        <h2>Название книги 1</h2>
        <p>Автор: Имя автора</p>
        <button>1999 руб.</button>
    </section>

    <section class="card">
        <img src="https://via.placeholder.com/150" alt="Обложка книги">
        <h2>Название книги 1</h2>
        <p>Автор: Имя автора</p>
        <button>1999 руб.</button>
    </section>

    <section class="card">
        <img src="https://via.placeholder.com/150" alt="Обложка книги">
        <h2>Название книги 1</h2>
        <p>Автор: Имя автора</p>
        <button>1999 руб.</button>
    </section>

    <section class="card">
        <img src="https://via.placeholder.com/150" alt="Обложка книги">
        <h2>Название книги 1</h2>
        <p>Автор: Имя автора</p>
        <button>1999 руб.</button>
    </section>

    <section class="card">
        <img src="https://via.placeholder.com/150" alt="Обложка книги">
        <h2>Название книги 1</h2>
        <p>Автор: Имя автора</p>
        <button>1999 руб.</button>
    </section>

    <section class="card">
        <img src="https://via.placeholder.com/150" alt="Обложка книги">
        <h2>Название книги 1</h2>
        <p>Автор: Имя автора</p>
        <button>1999 руб.</button>
    </section>

    <section class="card">
        <img src="https://via.placeholder.com/150" alt="Обложка книги">
        <h2>Название книги 1</h2>
        <p>Автор: Имя автора</p>
        <button>1999 руб.</button>
    </section>

    <section class="card">
        <img src="https://via.placeholder.com/150" alt="Обложка книги">
        <h2>Название книги 1</h2>
        <p>Автор: Имя автора</p>
        <button>1999 руб.</button>
    </section>


</section>

{% endblock %}